::-webkit-scrollbar {
	display: none;
}
nav{
	width: 100%;
	height: 75px;
	background:rgba(255, 60, 50, 1);
	color: black;
	overflow: scroll;
	font-size: 35px;
}

nav ul {
	width: 2000px;
}

nav ul li {
	width: 250px;
	height: 100%;
	line-height: 75px;
	text-align: center;
	float: left;
	left: -100px;
}
nav a {
	text-decoration: none;
	color: white;
}
nav a :active, :visited {
	color: white;
}
