h1 {
	font-size: 60px;
	margin: 0 auto;
	text-align: center;
	padding: 25px 0;
}

.search {
	width: 100%;
	height: 90px;
	margin-bottom: 10px;
	border-bottom: solid rgba(255, 60, 50, 1)5px;
	padding-bottom: 5px;
	position: relative;
}

.search span {
	position: absolute;
	background-image: url(https://yt3.ggpht.com/-EozPsPuQRnA/AAAAAAAAAAI/AAAAAAAAAAA/gwjEwoIyLME/s900-c-k-no-mo-rj-c0xffffff/photo.jpg);
	background-size: contain;
	top: 10px;
	left: 10px;
	width: 75px;
	height: 75px;
}

.search input {
	width: calc(100% - 20px);
	height: 100%;
	font-size: 35px;
	border: 0;
	outline: none;
	text-indent: 80px;
}

.search input[type=text] {
	padding-left: 20px;
}

.select {
	width: 100%;
	height: 100%;
	background: rgba(255, 255, 255, 0.5);
	background-image: url("../img/check.png");
	background-size: cover;

	display: none;
}

section {
	width: 100%;
	height: 170px;
	overflow: hidden;
}

section p {
	font-size: 50px;
	line-height: 170px;
	float: left;
	margin-left: 20px;
}

.image-logo {
	width: 160px;
	height: 160px;
	float: left;
	margin: 5px 10px;
	background-size: cover;
	background-position:center;
}

.image-logo img {
	width: 100%;
	height: auto;
}

section:nth-of-type(2) .image-logo{
	background-image: url(http://s.numrush.nl/wp-content/uploads/2014/03/www.noordz.nl-Dagtocht-Rijksmuseum-inclusief-grachtenrondvaart-LEZERSREIS_dagtocht-Rijksmuseum_28032013-31.jpg);
}
section:nth-of-type(3) .image-logo{
	background-image: url(http://images.adsttc.com/media/images/55e6/f619/e58e/ce03/1300/0374/medium_jpg/PORTADA_06_VanGoghMuseum_EntranceBuilding_HansvanHeeswijkArchitects_photo_RonaldTilleman.jpg?1441199623);
}
section:nth-of-type(4) .image-logo{
	background-image: url(https://www.onlinegalerij.nl/wp-content/uploads/2015/05/stedelijkmuseum.jpeg);
}
section:nth-of-type(5) .image-logo{
	background-image: url(https://at5.s3-eu-west-1.amazonaws.com/data/cache/2/basedata/pf_image/2012.12/uploaded_61d4b7653b3733a8ec5f0be4a57009b1d2bbe7c2-4b9f6f0a.jpg);
}
section:nth-of-type(6) .image-logo{
	background-image: url(http://images.friendlyrentals.com/FR_imgs/blog/PrImg_2687.jpg);
}


/*Hier is de overlay voor de geselecterde museum*/

.exit {
	width: 70px;
	height: 70px;
	background-image: url("../img/exit.png");
	position: absolute;
	top: 40px;
	right: 40px;

	background-color: Transparent;
	background-repeat:no-repeat;
	border: none;
	cursor:pointer;
	overflow: hidden;
	outline:none;
}

.overlay {
	width: 100%;
	height: auto;
	background-color: rgba(0, 0, 0, 0.5);
	position: absolute;
	top: 0;
	padding-top: 15px;
	display: none;
}

.overlay div {
	width: 95%;
	height: 98%;
	background: white;
	margin: 0 auto;
	padding-top: 10px;
}

.overlay div > div {
	width: calc(100% - 30px);
	height: auto;
	margin: 10px auto;
}

.overlay div > div > img {
	width: 100%;
	height: auto;
}
.overlay article {
	float: left;
	padding: 15px 0px;
	background: white;
}

.overlay article h1 {
	font-size: 60px;
	font-weight: bold;
	margin:0 0 25px 15px;
}

.overlay article p {
	font-size: 20px;
	line-height: normal;
}

.overlay article p a {
color: rgba(255, 60, 50, 1);
}

.overlay section {
	height: 250px;
	margin: 20px auto;
	border-top: solid rgba(255, 60, 50, 1)5px;
	float: left;

	padding: 15px 0px;
	background: white;
}

.overlay section ul {
	width: 100%;
	height: 100%;
}

.overlay section ul li {
	width: calc(33% - 10px);
	height: calc(100% - 10px);
	margin: 0 5px;
	float: left;
}

.overlay section ul li a {
	height: 100%;
	display: block;

	background-image: url("../img/phone.png");
	background-repeat: no-repeat;
	background-position: center;
	background-size: contain;

	position: relative;
}

.overlay section ul li a p {
width: 100%;

margin: auto;
position: absolute;
bottom: -25px;

color: rgba(255, 60, 50, 1);
line-height: normal;
text-align: center;
}

.overlay section ul li:nth-of-type(2) a {
	background-image: url("../img/map.svg");
}

.overlay section ul li:nth-of-type(3) a {
	background-image: url("../img/web.png");
}

.upload {
	width: 100%;
	height: 100px;

	position: fixed;
	bottom: 0;
	background-color: rgba(255, 60, 50, 1);
	background-image: url("../img/upload.png");
	background-repeat: no-repeat;
	background-position: center;
	background-size: contain;
}

.upload a {
	display: block;
	height: 100%;
}

.display {
	display: block;
}
