/*Need to sort the css on atributes */
/*Enter after every element*/
body{
    font-family: sans-serif;

}
main{
    width: 100vw;
    height: 100vh;
    background-image: url("../img/grey.png");
    background-repeat: no-repeat;
    background-size: cover;
}
main a {
    width: 100%;
    height: 100%;
}
.cmda-map {
    height: 100%;
    width: 100%;
}
.block{
    width: calc(50% - 20px);
    height: 400px;
    float: left;
    margin: 10px;
    text-align: center;
    background-color: rgba(255, 255, 255, 0.5);
    color: #fff;
    position: relative;

    background-repeat: no-repeat;
    background-size: cover;
}
/*upload*/
main a:nth-of-type(1) div.block{
    background-image: url("../img/upload.png");
}
/*museum*/
main a:nth-of-type(2) div.block{
    background-image: url(https://www.onlinegalerij.nl/wp-content/uploads/2015/05/stedelijkmuseum.jpeg);
}
/*statue*/
main a:nth-of-type(3) div.block{
    background-image: url(https://upload.wikimedia.org/wikipedia/commons/7/78/Amsterdam_-_Rembrandplein_-_Rembrandtmonument_-_RM518357.JPG);
}
/*going out*/
main a:nth-of-type(4) div.block{
    background-image: url(http://images.friendlyrentals.com/FR_imgs/blog/PrImg_2687.jpg);
}
/*book*/
main a:nth-of-type(5) div.block{
    background-image: url(http://fr.seaicons.com/wp-content/uploads/2015/10/Play-Books-icon.png);
}

.block p{
    width: 100%;
    background: rgba(255, 0, 0, 0.5);
    color: white;
    font-size: 50px;
    padding: 7px 0;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
}

.mapcontainer{
    width: 100vw;
    height: calc(100vh + 100px);
    color: black;
    background-color: #fff;
    text-align: center;
    position: fixed;
    bottom: -100vh;

    transition: all .7s;

    cursor: pointer;
}

.mapcontainer iframe {
    width: 100%;
    height: 100%;
    border: 0;

}

.mapicon{
    height: 100px;
    width: 100%;
    color: white;
    position: relative;

    background: url(../img/map.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100px;
    background-color: rgba(255, 60, 50, 1);

    transition: all .7s;
}

.fullscreen {
    bottom:calc(0vh - 100px);
}
